<div class="container-center">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img alt="Image" class="mb-3" height="100" src="assets/12.png">
      <div class="text-900 text-3xl font-medium mb-3">Contact List</div>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div>
        <label class="block text-900 font-medium mb-2" for="name">Name</label>
        <input class="w-full mb-3" formControlName="name" id="name" maxlength="20" pInputText placeholder="Name"
               type="text">
        <small *ngIf="name?.invalid && name?.touched" class="p-error">Name is required.</small>

        <label class="block text-900 font-medium mb-2" for="surname">Surname</label>
        <input class="w-full mb-3" formControlName="surname" id="surname" maxlength="20" pInputText placeholder="Surname"
               type="text">
        <small *ngIf="surname?.invalid && surname?.touched" class="p-error">Surname is required.</small>

        <label class="block text-900 font-medium mb-2" for="email">Email</label>
        <input class="w-full mb-3" formControlName="email" id="email" maxlength="40" pInputText
               placeholder="Email address" type="email">
        <small *ngIf="email?.invalid && email?.touched" class="p-error">Please enter a valid email.</small>

        <label class="block text-900 font-medium mb-2" for="phoneNumber">Phone Number</label>
        <input class="w-full mb-3" formControlName="phoneNumber" id="phoneNumber" maxlength="11" pInputText
               placeholder="Phone Number" type="text">
        <small *ngIf="phoneNumber?.invalid && phoneNumber?.touched" class="p-error">Phone number is required.</small>

        <button class="w-full" icon="pi pi-user" label="Add" pButton pRipple type="submit"></button>
      </div>
    </form>
  </div>
</div>
